<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Change Password</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="card">
            <div class="card-body mt-3">
                <form #formStaffLogin="ngForm">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-sm-12 form-group">
                                    <mat-label>Current Password</mat-label>
                                    <input [type]="hideCurrentPassword ? 'password' : 'text'" matInput #CurrentPassword="ngModel"
                                        name="CurrentPassword" [(ngModel)]="StaffLogin.CurrentPassword" required
                                        autofocus>
                                    <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCurrentPassword">
                                        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error> Current Password is <strong>required</strong></mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-sm-12 form-group">
                                    <mat-label>New Password</mat-label>
                                    <input [type]="hideNewPassword ? 'password' : 'text'" matInput #NewPassword="ngModel"
                                        name="NewPassword" [(ngModel)]="StaffLogin.NewPassword" required
                                        autofocus>
                                    <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                                        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error> New Password is <strong>required</strong></mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-sm-12 form-group">
                                    <mat-label>Confirm New Password</mat-label>
                                    <input [type]="hideNewConfirmPassword ? 'password' : 'text'" matInput #NewConfirmPassword="ngModel"
                                        name="NewConfirmPassword" [(ngModel)]="StaffLogin.NewConfirmPassword" required
                                        autofocus>
                                    <button mat-icon-button matSuffix (click)="hideNewConfirmPassword = !hideNewConfirmPassword"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewConfirmPassword">
                                        <mat-icon>{{hideNewConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error>Confirm New Password is <strong>required</strong></mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="card-footer text-center">
                <button class="btn btn-primary" (click)="changePassword()">Submit</button>
            </div>
        </div>

    </section>
</main>
