<app-progress *ngIf="dataLoading"></app-progress>
<main id="main" class="main" *ngIf="action.ResponseReceived">

	<div class="pagetitle">
		<h1>{{action.MenuTitle}}</h1>
		<nav>
		  <ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="admin/admin-dashboard">Home</a></li>
			<li class="breadcrumb-item">{{action.ParentMenuTitle}}</li>
			<li class="breadcrumb-item active">{{action.MenuTitle}}</li>
		  </ol>
		</nav>
	  </div>

	<section class="section dashboard">

		<div class="card">

			<div class="card-body ">
				<form #formRoleMenu="ngForm">
					<div class="row">
						<mat-form-field appearance="outline" class="col-sm-4 form-group">
							<mat-label>Role</mat-label>
							<input matInput #Role="ngModel" name="Role"
								(ngModelChange)="filterRoleList(RoleMenu.RoleTitle)" placeholder="Enter Role Name"
								[(ngModel)]="RoleMenu.RoleTitle" [matAutocomplete]="autoRole" required>
							<mat-autocomplete #autoRole="matAutocomplete"
								(optionSelected)="getRoleMenuList($event.option)">
								<mat-option *ngFor="let option of filterRole" [id]="option.RoleId"
									[value]="option.RoleTitle">{{option.RoleTitle}}</mat-option>
							</mat-autocomplete>
							<button mat-icon-button matSuffix *ngIf="RoleMenu.RoleTitle" color="primary"
								(click)="resetForm()">
								<mat-icon><i class="ri-close-circle-line"></i> </mat-icon>
							</button>
							<mat-error *ngIf="(Role.dirty  || Role.touched) || (Role.invalid && isSubmitted)">
								Role Title is <strong>required</strong>
							</mat-error>
						</mat-form-field>

						<mat-form-field *ngIf="AllRoleMenuList.length > 0" appearance="outline" class="col-sm-3">
							<mat-label>Search</mat-label>
							<input matInput type="text" #SearchData="ngModel" name="Search" [(ngModel)]="Search"
								placeholder="Search......">
						</mat-form-field>
					</div>

				</form>

				<div *ngIf="RoleMenu.RoleId">
					<div *ngFor="let pageGroup of AllRoleMenuList|filter:Search">
						<div class="mb-4">
							<input class="form-check-input me-2" id="pg_{{pageGroup.PageGroupId}}" type="checkbox"
								[(ngModel)]="pageGroup.IsSelectAll" (ngModelChange)="selectAllMenu(pageGroup)">
							<label class="pageGroupName form-check-label text-link"
								for="pg_{{pageGroup.PageGroupId}}">{{pageGroup.PageGroupName}}</label>
							<mat-divider></mat-divider>
							<div class="mx-3 row g-3">
								<div class="col-lg-6" *ngFor="let menu of pageGroup.RoleMenuList">
									<span class="menu mb-3 row">

										<span class="col-sm-6">
											<input class="form-check-input me-2" id="selc_{{menu.MenuId}}"
												[(ngModel)]="menu.IsSelected" (ngModelChange)="selectMenu(menu)"
												type="checkbox">
											<label class="form-check-label text-link"
												for="selc_{{menu.MenuId}}">{{menu.MenuTitle}}</label>
										</span>

										<span class="col-sm-6">
											<span>

												<input class="form-check-input create ms-3 me-2"
													id="create_m_{{menu.MenuId}}" [(ngModel)]="menu.CanCreate"
													type="checkbox">
												<label class="text-success form-check-label text-link"
													for="create_m_{{menu.MenuId}}">Create</label>
											</span>
											<span>

												<input class="form-check-input edit ms-3 me-2"
													[(ngModel)]="menu.CanEdit" id="edit_m_{{menu.MenuId}}"
													type="checkbox">
												<label class="text-warning form-check-label text-link"
													for="edit_m_{{menu.MenuId}}">Edit</label>
											</span>
											<span>

												<input class="form-check-input delete ms-3 me-2"
													id="delete_m_{{menu.MenuId}}" [(ngModel)]="menu.CanDelete"
													type="checkbox">
												<label class="text-danger form-check-label text-link"
													for="delete_m_{{menu.MenuId}}">Delete</label>
											</span>

										</span>

									</span>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="card-footer" style="text-align: center;" *ngIf="AllRoleMenuList.length > 0 && (action.CanEdit || action.CanCreate)">
				<button class="btn btn-primary" (click)="saveRoleMenu()">Submit</button>
			</div>
		</div>

	</section>

</main>